#
# Copyright (C) 2024 cheldump.
#
# SPDX-License-Identifier: Apache-2.0
#

# Certificates for signature checking
CONFIG_SYSTEM_TRUSTED_KEYS="verity.x509.pem"

# CODEC drivers
CONFIG_SND_SOC_MAX98927=y

# General Setup
CONFIG_LOCALVERSION_AUTO=y

# Input Device Drivers
CONFIG_INPUT_FINGERPRINT=y
CONFIG_TOUCHSCREEN_FT5435_MI=y
CONFIG_TOUCHSCREEN_FT8716_D2=y
CONFIG_TOUCHSCREEN_TD4310_D2=y
CONFIG_FINGERPRINT_FPC1020=y
CONFIG_FINGERPRINT_GOODIX_GF3208=y

# LED driver for blink(1) USB RGB LED is under Special HID drivers (HID_THINGM)
CONFIG_LEDS_AW2013=y

# Platform
CONFIG_MACH_XIAOMI_MSM8953=y
CONFIG_MACH_XIAOMI_TISSOT=y

# Qualcomm Technologies, Inc. MSM Camera And Video
CONFIG_MSMB_CAMERA_LEGACY=y